body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 454px;
    position: absolute;
  }
.searchbar.active {
    background: #2b2b2b;
    border: 1px solid #5f6368;
} 
.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
  }
.searchbar.active:hover {
  background-color: #303134;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223,225,229,0);
}
  .searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
  }
  
  .searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-icon-wrapper {
    margin: auto;
  }
  
  .search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
  
  .searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
  }
  
  .searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
  }
  
  .searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
  
  .searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
  }
  
  .searchbar-clear-icon {
    margin-right: 12px
  }
  
  .voice-search {
    font-size: 14px;
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2em;
  }

body.active {
    background: #2b2b2b;
}
.switch {
    --secondary-container: #c8c1c1;
    --primary: #eaeaea;
    font-size: 17px;
    position: relative;
    /*background: #fff;*/
    display: inline-block;
    border-radius: 30px;
    width: 3.7em;
    height: 1.8em;
    position: absolute;
    left: 93%;
    top: 5%;
    transform: translate(-95%, -7%);
}
.switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-container);
    transition: .2s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: var(--primary);
    transition: .4s;
}  
input:checked + .slider::before {
    background-color: #aeaaae;
} 
input:checked + .slider {
    background-color: #262628;
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
}
input:checked + .slider:before {
    transform: translateX(1.9em);
}